.product{
    display: flex;
    margin-right: 5px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.product-details{
 margin-left: 10px;
}
.product-details h3{
    color: blue;
    font-weight: 500;
}
.product-details button{
    background-color: rgb(255, 251, 18);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid black;
}